<a href="https://colab.research.google.com/github/arliejones/Neural_Network_Binary_Classifier/blob/main/GC_venture_funding_with_deep_learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Venture Funding with Deep Learning

You work as a risk management associate at Alphabet Soup, a venture capital firm. Alphabet Soup’s business team receives many funding applications from startups every day. This team has asked you to help them create a model that predicts whether applicants will be successful if funded by Alphabet Soup.

The business team has given you a CSV containing more than 34,000 organizations that have received funding from Alphabet Soup over the years. With your knowledge of machine learning and neural networks, you decide to use the features in the provided dataset to create a binary classifier model that will predict whether an applicant will become a successful business. The CSV file contains a variety of information about these businesses, including whether or not they ultimately became successful.

## Instructions:

The steps for this challenge are broken out into the following sections:

* Prepare the data for use on a neural network model.

* Compile and evaluate a binary classification model using a neural network.

* Optimize the neural network model.

### Prepare the Data for Use on a Neural Network Model 

Using your knowledge of Pandas and scikit-learn’s `StandardScaler()`, preprocess the dataset so that you can use it to compile and evaluate the neural network model later.

Open the starter code file, and complete the following data preparation steps:

1. Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.   

2. Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.
 
3. Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

4. Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course. 

5. Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset. 

6. Split the features and target sets into training and testing datasets.

7. Use scikit-learn's `StandardScaler` to scale the features data.

### Compile and Evaluate a Binary Classification Model Using a Neural Network

Use your knowledge of TensorFlow to design a binary classification deep neural network model. This model should use the dataset’s features to predict whether an Alphabet Soup&ndash;funded startup will be successful based on the features in the dataset. Consider the number of inputs before determining the number of layers that your model will contain or the number of neurons on each layer. Then, compile and fit your model. Finally, evaluate your binary classification model to calculate the model’s loss and accuracy. 
 
To do so, complete the following steps:

1. Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

2. Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

> **Hint** When fitting the model, start with a small number of epochs, such as 20, 50, or 100.

3. Evaluate the model using the test data to determine the model’s loss and accuracy.

4. Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`. 

### Optimize the Neural Network Model

Using your knowledge of TensorFlow and Keras, optimize your model to improve the model's accuracy. Even if you do not successfully achieve a better accuracy, you'll need to demonstrate at least two attempts to optimize the model. You can include these attempts in your existing notebook. Or, you can make copies of the starter notebook in the same folder, rename them, and code each model optimization in a new notebook. 

> **Note** You will not lose points if your model does not achieve a high accuracy, as long as you make at least two attempts to optimize the model.

To do so, complete the following steps:

1. Define at least three new deep neural network models (the original plus 2 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

2. After finishing your models, display the accuracy scores achieved by each model, and compare the results.

3. Save each of your models as an HDF5 file.

In [59]:
# Imports
import pandas as pd
from pathlib import Path
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.

In [27]:
# Upload credit_card_transactions.csv to Colab
from google.colab import files

csv_file = files.upload()

Saving applicants_data.csv to applicants_data (1).csv

In [28]:
# Read the applicants_data.csv file from the Resources folder into a Pandas DataFrame
applicant_data_df = pd.read_csv("applicants_data.csv")

# Review the DataFrame
applicant_data_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [29]:
# Review the data types associated with the columns
applicant_data_df.dtypes

EIN                        int64
NAME                      object
APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

### Step 2: Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.

In [30]:
# Drop the 'EIN' and 'NAME' columns from the DataFrame
applicant_data_df = applicant_data_df.drop(columns=["EIN","NAME"])

# Review the DataFrame
applicant_data_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

### Step 3: Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

In [31]:
# Create a list of categorical variables 
categorical_variables = list(applicant_data_df.dtypes[applicant_data_df.dtypes == "object"].index)

# Display the categorical variables list
categorical_variables

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [32]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

In [33]:
# Encode the categorcal variables using OneHotEncoder
encoded_data = enc.fit_transform(applicant_data_df[categorical_variables])

In [34]:
# Create a DataFrame with the encoded variables
encoded_df = pd.DataFrame(
    
    encoded_data,
    columns = enc.get_feature_names(categorical_variables)
)

# Review the DataFrame
encoded_df.head()

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 4: Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course.

In [45]:
# Add the numerical variables from the original DataFrame to the one-hot encoding DataFrame
encoded_df = pd.concat(
    [
        applicant_data_df.drop(columns=categorical_variables),
        encoded_df
    ],
    axis=1
)

# Review the Dataframe
encoded_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1,5000,1,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,1,108590,1,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,1,5000,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,1,6692,1,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,1,142590,1,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 5: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset.

In [36]:
# Define the target set y using the IS_SUCCESSFUL column
y = encoded_df["IS_SUCCESSFUL"]

# Display a sample of y
y[:5]

0    1
1    1
2    0
3    1
4    1
Name: IS_SUCCESSFUL, dtype: int64

In [37]:
# Define features set X by selecting all columns but IS_SUCCESSFUL
X = encoded_df.drop(columns=["IS_SUCCESSFUL"])

# Review the features DataFrame
X.head()

,STATUS,ASK_AMT,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 6: Split the features and target sets into training and testing datasets.

In [38]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

### Step 7: Use scikit-learn's `StandardScaler` to scale the features data.

In [39]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler to the features training dataset
X_scaler = scaler.fit(X_train)

# Fit the scaler to the features training dataset
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

---

## Compile and Evaluate a Binary Classification Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [40]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [41]:
# Define the number of neurons in the output layer
number_output_neurons = 1

In [42]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1 = (number_input_features + number_output_neurons) // 2 

# Review the number hidden nodes in the first layer
hidden_nodes_layer1

58

In [43]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2 = (number_input_features + number_output_neurons) // 2

# Review the number hidden nodes in the second layer
hidden_nodes_layer2

58

In [46]:
# Create the Sequential model instance
nn = Sequential()

In [49]:
# Add the first hidden layer
nn.add(Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

In [50]:
# Add the second hidden layer
nn.add(Dense(units=hidden_nodes_layer2, activation="relu"))

In [51]:
# Add the output layer to the model specifying the number of output neurons and activation function
nn.add(Dense(units=number_output_neurons, activation="sigmoid"))

In [52]:
# Display the Sequential model summary
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 58)                6786

 dense_1 (Dense)             (None, 58)                3422

 dense_2 (Dense)             (None, 1)                 59

=================================================================
Total params: 10,267
Trainable params: 10,267
Non-trainable params: 0
_________________________________________________________________

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [54]:
# Compile the Sequential model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [78]:
# Fit the model using 50 epochs and the training data
first_model = nn.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5228 - accuracy: 0.7442
Epoch 2/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5227 - accuracy: 0.7448
Epoch 3/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5224 - accuracy: 0.7440
Epoch 4/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5226 - accuracy: 0.7441
Epoch 5/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5227 - accuracy: 0.7442
Epoch 6/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5229 - accuracy: 0.7442
Epoch 7/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5232 - accuracy: 0.7439
Epoch 8/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5231 - accuracy: 0.7446
Epoch 9/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5226 - accuracy: 0.7451
Epoch 10/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5224 - accuracy: 0.7451
Epoch 11/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5235 - accuracy: 0.7446
Epoch 12/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5248 - accuracy: 0.7443
Epoch 13/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5228 - accuracy: 0.7451
Epoch 14/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5226 - accuracy: 0.7442
Epoch 15/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5223 - accuracy: 0.7448
Epoch 16/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5285 - accuracy: 0.7443
Epoch 17/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5239 - accuracy: 0.7446
Epoch 18/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5240 - accuracy: 0.7440
Epoch 19/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5225 - accuracy: 0.7439
Epoch 20/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5244 - accuracy: 0.7444
Epoch 21/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5251 - accuracy: 0.7449
Epoch 22/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5225 - accuracy: 0.7444
Epoch 23/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5222 - accuracy: 0.7450
Epoch 24/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5223 - accuracy: 0.7451
Epoch 25/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5225 - accuracy: 0.7450
Epoch 26/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5229 - accuracy: 0.7445
Epoch 27/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5225 - accuracy: 0.7447
Epoch 28/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5230 - accuracy: 0.7443
Epoch 29/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5223 - accuracy: 0.7442
Epoch 30/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5248 - accuracy: 0.7443
Epoch 31/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5233 - accuracy: 0.7438
Epoch 32/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5222 - accuracy: 0.7444
Epoch 33/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5223 - accuracy: 0.7445
Epoch 34/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5224 - accuracy: 0.7439
Epoch 35/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5228 - accuracy: 0.7442
Epoch 36/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5236 - accuracy: 0.7441
Epoch 37/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5219 - accuracy: 0.7449
Epoch 38/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5221 - accuracy: 0.7441
Epoch 39/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5224 - accuracy: 0.7440
Epoch 40/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5227 - accuracy: 0.7444
Epoch 41/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5234 - accuracy: 0.7445
Epoch 42/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5227 - accuracy: 0.7445
Epoch 43/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5224 - accuracy: 0.7450
Epoch 44/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5226 - accuracy: 0.7446
Epoch 45/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5228 - accuracy: 0.7450
Epoch 46/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5224 - accuracy: 0.7437
Epoch 47/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5225 - accuracy: 0.7441
Epoch 48/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5224 - accuracy: 0.7447
Epoch 49/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5328 - accuracy: 0.7442
Epoch 50/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5287 - accuracy: 0.7448

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [77]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A1.evaluate(X_test_scaled,y_test,verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5591 - accuracy: 0.7294 - 428ms/epoch - 2ms/step
Loss: 0.5591261386871338, Accuracy: 0.7294460535049438

### Step 4: Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`.

In [60]:
# Set the model's file path
file_path = Path("Resources/AlphabetSoup.h5")

# Export your model to a HDF5 file
nn.save(file_path)

---

## Optimize the neural network model

### Step 1: Define at least three new deep neural network models (resulting in the original plus 3 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

### Alternative Model 1 - Change Number of Epochs

In [67]:
# Define the the number of inputs (features) to the model
number_input_features_A1 = len(X_train.iloc[0])

# Review the number of features
number_input_features_A1

116

In [62]:
# Define the number of neurons in the output layer
number_output_neurons_A1 = 1

In [68]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A1 = (number_input_features_A1 + number_output_neurons_A1) // 2

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A1

58

In [69]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2_A1 = (number_input_features_A1 + number_output_neurons_A1) // 2

# Review the number of hidden nodes in the first layer
hidden_nodes_layer2_A1

58

In [66]:
# Create the Sequential model instance
nn_A1 = Sequential()

In [72]:
# Add First hidden layer
nn_A1.add(Dense(units=hidden_nodes_layer1_A1, input_dim=number_input_features_A1, activation="relu"))

# Add Second hidden layer
nn_A1.add(Dense(units=hidden_nodes_layer2_A1,activation="relu"))

# Output layer
nn_A1.add(Dense(units=number_output_neurons_A1, activation="sigmoid"))

# Check the structure of the model
nn_A1.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_9 (Dense)             (None, 58)                6786

 dense_10 (Dense)            (None, 58)                3422

 dense_11 (Dense)            (None, 1)                 59

=================================================================
Total params: 10,267
Trainable params: 10,267
Non-trainable params: 0
_________________________________________________________________

In [73]:
# Compile the Sequential model
nn_A1.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [79]:
# Fit the model using 50 epochs and the training data
fit_model_A1 = nn_A1.fit(X_train_scaled, y_train, epochs=150)

Epoch 1/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5270 - accuracy: 0.7430
Epoch 2/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5277 - accuracy: 0.7427
Epoch 3/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5272 - accuracy: 0.7428
Epoch 4/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5272 - accuracy: 0.7430
Epoch 5/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5270 - accuracy: 0.7435
Epoch 6/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5270 - accuracy: 0.7436
Epoch 7/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5272 - accuracy: 0.7422
Epoch 8/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5271 - accuracy: 0.7431
Epoch 9/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5269 - accuracy: 0.7430
Epoch 10/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5262 - accuracy: 0.7430
Epoch 11/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5275 - accuracy: 0.7425
Epoch 12/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5263 - accuracy: 0.7431
Epoch 13/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5270 - accuracy: 0.7439
Epoch 14/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5271 - accuracy: 0.7435
Epoch 15/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5267 - accuracy: 0.7435
Epoch 16/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5269 - accuracy: 0.7428
Epoch 17/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5266 - accuracy: 0.7434
Epoch 18/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5264 - accuracy: 0.7431
Epoch 19/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5260 - accuracy: 0.7435
Epoch 20/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5259 - accuracy: 0.7430
Epoch 21/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5265 - accuracy: 0.7436
Epoch 22/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5267 - accuracy: 0.7432
Epoch 23/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5268 - accuracy: 0.7437
Epoch 24/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5259 - accuracy: 0.7440
Epoch 25/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5262 - accuracy: 0.7434
Epoch 26/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5264 - accuracy: 0.7431
Epoch 27/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5261 - accuracy: 0.7433
Epoch 28/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5265 - accuracy: 0.7427
Epoch 29/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5261 - accuracy: 0.7429
Epoch 30/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5261 - accuracy: 0.7437
Epoch 31/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5262 - accuracy: 0.7434
Epoch 32/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5255 - accuracy: 0.7440
Epoch 33/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5264 - accuracy: 0.7429
Epoch 34/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5261 - accuracy: 0.7427
Epoch 35/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5265 - accuracy: 0.7433
Epoch 36/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5259 - accuracy: 0.7434
Epoch 37/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5258 - accuracy: 0.7440
Epoch 38/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5257 - accuracy: 0.7434
Epoch 39/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5258 - accuracy: 0.7425
Epoch 40/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5256 - accuracy: 0.7433
Epoch 41/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5259 - accuracy: 0.7430
Epoch 42/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5262 - accuracy: 0.7428
Epoch 43/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5255 - accuracy: 0.7427
Epoch 44/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5257 - accuracy: 0.7437
Epoch 45/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5253 - accuracy: 0.7433
Epoch 46/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5260 - accuracy: 0.7432
Epoch 47/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5259 - accuracy: 0.7435
Epoch 48/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5255 - accuracy: 0.7438
Epoch 49/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5259 - accuracy: 0.7434
Epoch 50/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5253 - accuracy: 0.7435
Epoch 51/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5258 - accuracy: 0.7431
Epoch 52/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5263 - accuracy: 0.7435
Epoch 53/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5258 - accuracy: 0.7436
Epoch 54/150
804/804 [==============================] - 3s 3ms/step - loss: 0.5251 - accuracy: 0.7430
Epoch 55/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5255 - accuracy: 0.7435
Epoch 56/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5255 - accuracy: 0.7433
Epoch 57/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5248 - accuracy: 0.7437
Epoch 58/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5260 - accuracy: 0.7442
Epoch 59/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5259 - accuracy: 0.7441
Epoch 60/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5255 - accuracy: 0.7437
Epoch 61/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5252 - accuracy: 0.7431
Epoch 62/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5254 - accuracy: 0.7437
Epoch 63/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5254 - accuracy: 0.7433
Epoch 64/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5257 - accuracy: 0.7437
Epoch 65/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5248 - accuracy: 0.7438
Epoch 66/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5252 - accuracy: 0.7439
Epoch 67/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5253 - accuracy: 0.7438
Epoch 68/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5253 - accuracy: 0.7439
Epoch 69/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5249 - accuracy: 0.7438
Epoch 70/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5252 - accuracy: 0.7435
Epoch 71/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5253 - accuracy: 0.7439
Epoch 72/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5249 - accuracy: 0.7437
Epoch 73/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5261 - accuracy: 0.7433
Epoch 74/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5258 - accuracy: 0.7436
Epoch 75/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5255 - accuracy: 0.7441
Epoch 76/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5248 - accuracy: 0.7435
Epoch 77/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5247 - accuracy: 0.7441
Epoch 78/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5246 - accuracy: 0.7443
Epoch 79/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5247 - accuracy: 0.7441
Epoch 80/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5251 - accuracy: 0.7437
Epoch 81/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5244 - accuracy: 0.7442
Epoch 82/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5246 - accuracy: 0.7439
Epoch 83/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5254 - accuracy: 0.7437
Epoch 84/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5252 - accuracy: 0.7437
Epoch 85/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5247 - accuracy: 0.7439
Epoch 86/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5249 - accuracy: 0.7436
Epoch 87/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5251 - accuracy: 0.7444
Epoch 88/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5248 - accuracy: 0.7441
Epoch 89/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5245 - accuracy: 0.7440
Epoch 90/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5245 - accuracy: 0.7444
Epoch 91/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5249 - accuracy: 0.7442
Epoch 92/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5247 - accuracy: 0.7435
Epoch 93/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5245 - accuracy: 0.7441
Epoch 94/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5246 - accuracy: 0.7440
Epoch 95/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5245 - accuracy: 0.7446
Epoch 96/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5249 - accuracy: 0.7437
Epoch 97/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5250 - accuracy: 0.7441
Epoch 98/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5244 - accuracy: 0.7441
Epoch 99/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5251 - accuracy: 0.7446
Epoch 100/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5243 - accuracy: 0.7442
Epoch 101/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5244 - accuracy: 0.7442
Epoch 102/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5243 - accuracy: 0.7439
Epoch 103/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5243 - accuracy: 0.7435
Epoch 104/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5254 - accuracy: 0.7442
Epoch 105/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5241 - accuracy: 0.7441
Epoch 106/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5243 - accuracy: 0.7439
Epoch 107/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5242 - accuracy: 0.7436
Epoch 108/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5251 - accuracy: 0.7429
Epoch 109/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5268 - accuracy: 0.7437
Epoch 110/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5240 - accuracy: 0.7448
Epoch 111/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5242 - accuracy: 0.7449
Epoch 112/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5248 - accuracy: 0.7438
Epoch 113/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5244 - accuracy: 0.7441
Epoch 114/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5240 - accuracy: 0.7438
Epoch 115/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5239 - accuracy: 0.7441
Epoch 116/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5255 - accuracy: 0.7441
Epoch 117/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5242 - accuracy: 0.7437
Epoch 118/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5238 - accuracy: 0.7447
Epoch 119/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5248 - accuracy: 0.7438
Epoch 120/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5243 - accuracy: 0.7439
Epoch 121/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5245 - accuracy: 0.7444
Epoch 122/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5247 - accuracy: 0.7442
Epoch 123/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5241 - accuracy: 0.7441
Epoch 124/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5238 - accuracy: 0.7448
Epoch 125/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5240 - accuracy: 0.7443
Epoch 126/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5241 - accuracy: 0.7437
Epoch 127/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5249 - accuracy: 0.7447
Epoch 128/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5244 - accuracy: 0.7440
Epoch 129/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5241 - accuracy: 0.7440
Epoch 130/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5238 - accuracy: 0.7446
Epoch 131/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5239 - accuracy: 0.7447
Epoch 132/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5246 - accuracy: 0.7442
Epoch 133/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5244 - accuracy: 0.7438
Epoch 134/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5250 - accuracy: 0.7441
Epoch 135/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5256 - accuracy: 0.7437
Epoch 136/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5250 - accuracy: 0.7444
Epoch 137/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5250 - accuracy: 0.7441
Epoch 138/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5233 - accuracy: 0.7445
Epoch 139/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5241 - accuracy: 0.7444
Epoch 140/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5245 - accuracy: 0.7444
Epoch 141/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5238 - accuracy: 0.7445
Epoch 142/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5242 - accuracy: 0.7443
Epoch 143/150
804/804 [==============================] - 3s 3ms/step - loss: 0.5247 - accuracy: 0.7434
Epoch 144/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5238 - accuracy: 0.7444
Epoch 145/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5241 - accuracy: 0.7442
Epoch 146/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5237 - accuracy: 0.7442
Epoch 147/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5242 - accuracy: 0.7441
Epoch 148/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5235 - accuracy: 0.7448
Epoch 149/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5234 - accuracy: 0.7443
Epoch 150/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5247 - accuracy: 0.7439

#### Alternative Model 2 - Add more neurons and layers

In [80]:
# Define the the number of inputs (features) to the model
number_input_features_A2 = len(X_train.iloc[0])

# Review the number of features
number_input_features_A2

116

In [81]:
# Define the number of neurons in the output layer
number_output_neurons_A2 = 1

In [82]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A2 = (number_input_features_A1 + number_output_neurons_A1) // 2

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A2

58

In [84]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2_A2 = hidden_nodes_layer1_A2 + 5

# Review the number of hidden nodes in the second layer
hidden_nodes_layer2_A2

63

In [85]:
# Define the number of hidden nodes for the third hidden layer
hidden_nodes_layer3_A2 = hidden_nodes_layer2_A2 + 5

# Review the number of hidden nodes in the third layer
hidden_nodes_layer3_A2

68

In [86]:
# Create the Sequential model instance
nn_A2 = Sequential()

In [88]:
# Add First hidden layer
nn_A2.add(Dense(units=hidden_nodes_layer1_A2, input_dim=number_input_features_A2, activation="relu"))

# Add second hidden layer
nn_A2.add(Dense(units=hidden_nodes_layer2_A2, activation="relu"))

# Add third hidden layer
nn_A2.add(Dense(units=hidden_nodes_layer3_A2, activation="relu"))

# Output layer
nn_A2.add(Dense(units=number_output_neurons_A2, activation="sigmoid"))

# Check the structure of the model
nn_A2.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_12 (Dense)            (None, 58)                6786

 dense_13 (Dense)            (None, 63)                3717

 dense_14 (Dense)            (None, 68)                4352

 dense_15 (Dense)            (None, 1)                 69

=================================================================
Total params: 14,924
Trainable params: 14,924
Non-trainable params: 0
_________________________________________________________________

In [89]:
# Compile the model
nn_A2.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [90]:
# Fit the model
fit_model_A2 = nn_A2.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 5s 5ms/step - loss: 0.5742 - accuracy: 0.7167
Epoch 2/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5520 - accuracy: 0.7302
Epoch 3/50
804/804 [==============================] - 5s 6ms/step - loss: 0.5487 - accuracy: 0.7319
Epoch 4/50
804/804 [==============================] - 5s 7ms/step - loss: 0.5461 - accuracy: 0.7334
Epoch 5/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5449 - accuracy: 0.7331
Epoch 6/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5440 - accuracy: 0.7339
Epoch 7/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5431 - accuracy: 0.7358
Epoch 8/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5422 - accuracy: 0.7357
Epoch 9/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5416 - accuracy: 0.7349
Epoch 10/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5411 - accuracy: 0.7357
Epoch 11/50
804/804 [==============================] - 5s 6ms/step - loss: 0.5403 - accuracy: 0.7371
Epoch 12/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5394 - accuracy: 0.7360
Epoch 13/50
804/804 [==============================] - 5s 6ms/step - loss: 0.5396 - accuracy: 0.7367
Epoch 14/50
804/804 [==============================] - 5s 6ms/step - loss: 0.5383 - accuracy: 0.7370
Epoch 15/50
804/804 [==============================] - 5s 6ms/step - loss: 0.5385 - accuracy: 0.7367
Epoch 16/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5380 - accuracy: 0.7381
Epoch 17/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5376 - accuracy: 0.7392
Epoch 18/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5368 - accuracy: 0.7388
Epoch 19/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5368 - accuracy: 0.7386
Epoch 20/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5368 - accuracy: 0.7382
Epoch 21/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5362 - accuracy: 0.7384
Epoch 22/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5354 - accuracy: 0.7404
Epoch 23/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5352 - accuracy: 0.7396
Epoch 24/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5351 - accuracy: 0.7396
Epoch 25/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5352 - accuracy: 0.7394
Epoch 26/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5346 - accuracy: 0.7392
Epoch 27/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5337 - accuracy: 0.7406
Epoch 28/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5337 - accuracy: 0.7400
Epoch 29/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5340 - accuracy: 0.7410
Epoch 30/50
804/804 [==============================] - 5s 6ms/step - loss: 0.5340 - accuracy: 0.7400
Epoch 31/50
804/804 [==============================] - 5s 6ms/step - loss: 0.5339 - accuracy: 0.7397
Epoch 32/50
804/804 [==============================] - 5s 6ms/step - loss: 0.5330 - accuracy: 0.7409
Epoch 33/50
804/804 [==============================] - 5s 6ms/step - loss: 0.5333 - accuracy: 0.7411
Epoch 34/50
804/804 [==============================] - 5s 6ms/step - loss: 0.5328 - accuracy: 0.7401
Epoch 35/50
804/804 [==============================] - 6s 7ms/step - loss: 0.5328 - accuracy: 0.7415
Epoch 36/50
804/804 [==============================] - 6s 8ms/step - loss: 0.5322 - accuracy: 0.7414
Epoch 37/50
804/804 [==============================] - 5s 6ms/step - loss: 0.5324 - accuracy: 0.7413
Epoch 38/50
804/804 [==============================] - 5s 7ms/step - loss: 0.5320 - accuracy: 0.7419
Epoch 39/50
804/804 [==============================] - 7s 8ms/step - loss: 0.5315 - accuracy: 0.7415
Epoch 40/50
804/804 [==============================] - 7s 8ms/step - loss: 0.5315 - accuracy: 0.7414
Epoch 41/50
804/804 [==============================] - 6s 8ms/step - loss: 0.5309 - accuracy: 0.7418
Epoch 42/50
804/804 [==============================] - 5s 6ms/step - loss: 0.5312 - accuracy: 0.7418
Epoch 43/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5306 - accuracy: 0.7422
Epoch 44/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5308 - accuracy: 0.7416
Epoch 45/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5311 - accuracy: 0.7423
Epoch 46/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5305 - accuracy: 0.7418
Epoch 47/50
804/804 [==============================] - 4s 6ms/step - loss: 0.5308 - accuracy: 0.7418
Epoch 48/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5307 - accuracy: 0.7423
Epoch 49/50
804/804 [==============================] - 4s 6ms/step - loss: 0.5299 - accuracy: 0.7427
Epoch 50/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5298 - accuracy: 0.7424

### Step 2: After finishing your models, display the accuracy scores achieved by each model, and compare the results.

In [94]:
print("Original Model Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Original Model Results
268/268 - 1s - loss: 0.6112 - accuracy: 0.7287 - 692ms/epoch - 3ms/step
Loss: 0.6111720204353333, Accuracy: 0.7287463545799255

In [92]:
print("Alternative Model 1 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A1.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 1 Results
268/268 - 1s - loss: 0.6005 - accuracy: 0.7292 - 957ms/epoch - 4ms/step
Loss: 0.600484311580658, Accuracy: 0.7292128205299377

In [93]:
print("Alternative Model 2 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A2.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 2 Results
268/268 - 1s - loss: 0.5569 - accuracy: 0.7305 - 1s/epoch - 4ms/step
Loss: 0.556907594203949, Accuracy: 0.7304956316947937

### Step 3: Save each of your alternative models as an HDF5 file.

In [95]:
# Set the file path for the first alternative model
file_path = Path("Resources/Alt_model_1")

# Export your model to a HDF5 file
nn_A1.save(file_path)

INFO:tensorflow:Assets written to: Resources/Alt_model_1/assets

In [96]:
# Set the file path for the second alternative model
file_path = Path("Resources/Alt_model_2")

# Export your model to a HDF5 file
nn_A2.save(file_path)

INFO:tensorflow:Assets written to: Resources/Alt_model_2/assets